*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Cutive Mono', monospace;
	width:100vw;
	height: 100vh;

}

#peers{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}

.connected{
    height: 50%;
    width:100%;
    border-bottom:1px solid lightgreen;
    overflow: auto;
    display: flex;
    flex-direction: row;
    
}

.connected:hover{
	background-color:lightgreen;

	cursor: pointer;
}


#me{
    background-color: lightblue;
}
#input{
    width:0;
    height: 0;
}

a{
    text-align: center;
    background-color: lavender;
		
}
a:hover{
    background-color: blueviolet;

}

.inside_connected{
    width:50%;
    height :100%;
    display: flex;
   flex-direction :column;
}
.inside_connected>*{
    width:100%;
}
